body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    transition: background-color 1s ease; /* Use background-color transition */
}


/* Style the navbar */
nav {
    
    padding: 12px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-end; /* Create space between brand and menu */
    margin-top: -10px;
    position: sticky;
    top: 0; /* Stick the navbar at the top of the viewport */
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display list items in a row */
    justify-content: flex-end;
    
}

/* Style the navigation items */
nav li {
    margin-right: 20px; /* Add spacing between items */
    margin-left: 20px; /* Add spacing between items */
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Style the navigation links */
nav a {
    text-decoration: none;
    color: white;
}

/* Change link color on hover */
nav a:hover {
    color:white; /* Change link color on hover */
    padding: 10px;
}


footer {
    background-color: #00121b; /* Background color for the navbar */
    padding: 10px;
    margin-left: -50px;
    margin-right: -50px;
    
}


footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display list items in a row */
    justify-content: center;
}

/* Style the navigation items */
footer {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    background-color: #003049;
}

footer p {
    color: white;
}



.main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin-left: -10px;
}


.contact-container {
    width: 50%;
    margin: 0 auto;
    color: white;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-size: large;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #ff2400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkred;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Move the button to the right */
}