body {
    background-color: whitesmoke;
}


/* Style the navbar */
nav {
    background-color: #003049;
    padding: 12px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center; /* Vertically center the brand and menu items */
    justify-content: space-between; /* Create space between brand and menu */
    margin-top: -10px;
    position: sticky;
    top: 0; /* Stick the navbar at the top of the viewport */
    z-index: 100;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display list items in a row */
    justify-content: flex-end;
}

/* Style the navigation items */
nav li {
   
    margin-right: 20px; /* Add spacing between items */
    margin-left: 20px; /* Add spacing between items */
    padding: 10px;
    border-radius: 5px;
}


/* Style the navigation links */
nav a {
    text-decoration: none;
    color: white;
}

/* Change link color on hover */
nav a:hover {
    color:white; /* Change link color on hover */
    padding: 10px;
}


footer {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    background-color: #003049;
}

footer p {
    color: white;
}

/* Apply styles to the centered div */
.welcome {
    width: 90%; /* Set a fixed width or use percentages as needed */
    height: 200px; /* Set a fixed height or use percentages as needed */
    text-align: center; /* Center content horizontally */
    
}


.main {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-right: -10px;
    
}

.main a {
    text-decoration: none;
    color: white;
    
    padding: 10px;
}

/* Change link color on hover */
.main a:hover {
    padding: 10px;
}


.main h2 {
    background-color: #003049;
}

.center-button a {
    color: black;
    /* Optionally, you can use other CSS properties to style the container */
  }

.center-button {
    text-align: center;
    color: black;
    /* Optionally, you can use other CSS properties to style the container */
  }

button {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    border: 5px solid  #03a4fa;;
    background-color: white;
}

button:hover{
    padding: 15px;
}


.vince{
    margin: 20px;
    
}

.vince-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

.vince-pic {
    max-width: 40%;
    margin-right: 200px;
}
.vince-bg {
    
    color: black;
    max-width: 40%;
    padding: 20px;
    text-align: justify;
    font-size: medium;
    margin-top: 0px;
}

.Mentzer {
    margin: 20px;
    margin-top: 60px;
}

.Mentzer-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.Mentzer-pic {
    max-width: 40%;
    margin-right: 200px;
}
.Mentzer-bg {
    max-width: 40%;
    padding: 20px;
    text-align: justify;
    font-size: medium;
    margin-top: -210px;
    margin-left: 100px;
}

.Meadows {
    margin: 20px;
    margin-top: 50px;
}

.Meadows-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    
}

.Meadows-pic {
    max-width: 40%;
    margin-right: 300px;
}
.Meadows-bg {
    color: black;
    max-width: 40%;
    padding: 20px;
    text-align: justify;
    font-size: medium;
    margin-top: -230px;
}

h2 {
    text-align: center;
    margin: 20px;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 4px white(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.holder {
    background-color: #003049;
}

h1 {
    font-size: xx-large;
    margin-top: 90px;
    padding: 10px;
    text-align: center;
    color: white;
}


